body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: red;
}
header {
    background-color: black;
    padding: 20px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#search {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#search-btn:hover {
    background-color: #e50914;
    transform: scale(1.1);
}
#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.movie {
    margin: 15px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}
.movie img {
    width: 200px;
    border-radius: 5px;
    transition: transform 0.3s;
}
.movie:hover img {
    transform: scale(1.1);
}
.movie-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: none;
}
.movie:hover .movie-info {
    display: block;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
}
.modal-content h2 {
    margin-bottom: 10px;
}
.modal-content p {
    font-size: 14px;
}
.modal .close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
@media (max-width: 768px) {
    #search {
        width: 70%;
    }
    #movie-container {
        flex-direction: column;
        align-items: center;
    }
}